@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.swiper-button-next-custom.swiper-button-disabled,
.swiper-button-prev-custom.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.swiper-button-next-custom.swiper-button-disabled:hover,
.swiper-button-prev-custom.swiper-button-disabled:hover {
  background-color: unset;
  color: unset;
}